*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap'); */

body{
    background-color: #34353A;
    font-family: "Teko", sans-serif;
    color: #DAD3BE;
}
#mmmmm{
  font-family: "Teko", sans-serif;
}
.nav-link, .navbar-brand{
    color: #DAD3BE;
    /* font-family: "Kanit", sans-serif; */
    font-family: "Teko", sans-serif;
    font-size: 25px;
}
.navbar-toggler{
    background-color: #DAD3BE;
}
.navbar{
    background-color: #2E2F34;
}
#myBanner img{
  border-radius: 50%;
  background-color: #DB9E34;
 
  
  /* animation: sway 3s infinite ease-in-out; */
}

#myImageDiv{
  animation: moveUp 3s ease;
}
#myAboutDiv{
  animation: moveDown 3s ease;
}
#myBanner h1{
  color: #DB9E34;
  font-weight: bold;
  font-size: 50px;
  /* font-family: "Kanit", sans-serif; */
  font-family: "Teko", sans-serif;
}
#myBanner p{
  font-size: 20px;
}
#skills h1, #myProjects h1{
  color: #DB9E34;
  font-weight: bold;
}
@media (max-width:700px){
  #myBanner img{
    width: 300px;
  }
}
@keyframes moveUp {
  0%{
    transform: translateY(-100px);
    opacity: 0%;
  }
  100%{
    transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes moveDown {
  0%{
    transform: translateY(100px);
    opacity: 0%;
  }
  100%{
    transform: translateY(0px);
    opacity: 100%;
  }
}

#myBanner{
  text-align: center;
}
#myProjectsTop .card, #myProjectsBase .card{
  border: none;
  background-color: #DAD3BE;
}
/* .card-text {
  color:  #DB9E34;
}
.card-title{
  color:  #DB9E34;
} */
#myProjectsTop h5,#myProjectsBase h5{
  font-weight: bold;
}
#myProjects h1{
  margin-top: 200px;
  text-align: center;
}
.imagePopUp{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.progress-container {
  text-align: center;
}
.progressCircleOuter {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: #DAD3BE solid 1px;
  padding: 20px;
}
.progressCircleInner{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #DAD3BE solid 1px;
}
.progressCircleText{
  text-align: center;
}
#progressCircleNumber1, #progressCircleNumber2, #progressCircleNumber3 {
  font-weight: bold;
  color: #DAD3BE;
  font-size: 32px;
}
#svg1 circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.svg1CircleClass{
  animation: progressBarAnim1 1.5s linear forwards;
}
svg{
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes progressBarAnim1 {
  100%{
    stroke-dashoffset: 100;
  }
}
#svg2 circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.svg2CircleClass{
  animation: progressBarAnim2 1.5s linear forwards;
}
@keyframes progressBarAnim2 {
  100%{
    stroke-dashoffset: 145;
  }
}
#svg3 circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.svg3CircleClass{
  animation: progressBarAnim3 1.5s linear forwards;
}
@keyframes progressBarAnim3 {
  100%{
    stroke-dashoffset: 123;
  }
}
.something{
  background-color: red;
}
.footerIcon li{
  background-color: #DAD3BE;
  border-radius: 50%;
  padding: 10px;
}
.myFooterButton{
  background-color: #DAD3BE;
  color: black;
  min-width: 100px;
  max-height: 50px;
}
.myFooterButton:hover{
  background-color: #DB9E34;
}
.footerNav li a:hover{
  color: #DB9E34;
}
#myResume h1{
  color: #DB9E34;
}
#contactTextarea{
  resize: none;
  height: 100px;
  border-radius: 6px;
}
#myProjects{
  margin-top: 100px;
}

#skillsHeading , #myProjectssHeading{
  /* border: 1px solid #DAD3BE; */
  padding: 0;
  border-radius: 6px;
  background-color: #2E2F34;
  box-shadow: 0 0 0 0.5;
}

#myProjects .card{
  /* transform: rotate(45deg); */
  padding-left: 0;
  padding-right: 0;
  
}
#myFooter h5{
  font-size: 30px;
}
.footerIcon li:hover{
  scale: 1.2;
}
.myNavBarList a:hover{
  color: #DB9E34;
  scale: 1.2;
}

/* #myBanner img{
  animation: sway 3s infinite ease-in-out;
}
@keyframes sway {
  0%,100%{
      transform: rotate(-3deg);
  }
  50%{
      transform: rotate(3deg);
  }
} */


/* #nameSpanO{
  animation: nameSpan 3s ease;
}
@keyframes nameSpan {
  0%{
    transform: translateX(20px);
    transform: translateY(0);
  }
  25%{
    transform: translateX(20px);
    transform: translateY(0);
  }
  50%{
    transform: translateX(20px);
  }
  100%{
    transform: translateX(20px);
  }
} */