*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #34353A;
    font-family: "Poppins", sans-serif;
    color: #DAD3BE;
}
.nav-link, .navbar-brand{
    color: #DAD3BE;
    font-family: "Poppins", sans-serif;
}
.navbar-toggler{
    background-color: #DAD3BE;
}
.navbar{
    background-color: #2E2F34;
}
#myBanner img{
  border-radius: 50%;
  background-color: #DB9E34;
  animation: sway 3s infinite ease-in-out;
}
#myBanner h1{
  color: #DB9E34;
  font-weight: bold;
  font-size: 50px;
}
#skills h1, #myProjects h1{
  font-weight: bold;
}
@media (max-width:700px){
  #myBanner img{
    width: 300px;
  }
}
@keyframes sway {
  0%,100%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-10px);
  }
}
#myBanner{
  text-align: center;
}
#myProjectsTop .card, #myProjectsBase .card{
  border: none;
  background-color: #DAD3BE;
}
#myProjectsTop h5,#myProjectsBase h5{
  font-weight: bold;
}
#myProjects h1{
  margin-top: 200px;
  text-align: center;
}
.imagePopUp{
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.progress-container {
  text-align: center;
}
.progressCircleOuter {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: #DAD3BE solid 1px;
  padding: 20px;
}
.progressCircleInner{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #DAD3BE solid 1px;
}
.progressCircleText{
  text-align: center;
}
#progressCircleNumber1, #progressCircleNumber2, #progressCircleNumber3 {
  font-weight: bold;
  color: #DAD3BE;
  font-size: 32px;
}
#svg1 circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.svg1CircleClass{
  animation: progressBarAnim1 1.5s linear forwards;
}
svg{
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes progressBarAnim1 {
  100%{
    stroke-dashoffset: 100;
  }
}
#svg2 circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.svg2CircleClass{
  animation: progressBarAnim2 1.5s linear forwards;
}
@keyframes progressBarAnim2 {
  100%{
    stroke-dashoffset: 145;
  }
}
#svg3 circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}
.svg3CircleClass{
  animation: progressBarAnim3 1.5s linear forwards;
}
@keyframes progressBarAnim3 {
  100%{
    stroke-dashoffset: 123;
  }
}
.something{
  background-color: red;
}
.footerIcon li{
  background-color: #DAD3BE;
  border-radius: 50%;
  padding: 10px;
}
.myFooterButton{
  background-color: #DAD3BE;
  color: black;
}
.myFooterButton:hover{
  background-color: #DB9E34;
}
.footerNav li a:hover{
  color: #DB9E34;
}